html,
body {
    height: 100%;
    color: black;
    font-family: 'Cuprum', sans-serif;
}

body {

}

.wrap {
    background-color: rgb(255,255,255);

}

header {

    height: 0;
    width: 100%;
    display: table;

}
.headcont{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.navbar {
    min-height: 0;
    margin: auto;
}

.home.index header {
    height: 100%;
    background-image: url("/images/head.png");
    background-size: cover;
}
.home.index .navbar > .container{
    background-color: rgba(43,20,49,0.5);
    position:fixed;
    top:0;
    z-index: 10000;
}


.hd {
    position: relative;
    margin-bottom: 4%;
}

.hd:before {
    position:absolute;
    top:0;
    left:46%;
    width:8%;
    height: 120%;
    margin: auto;
    border-bottom :2px solid rgb(255,255,255);
    content:"";
}

.hd span:nth-child(1) {
    font-family: 'Cuprum', sans-serif;
    font-size: 3.5em;
    color: rgba(255, 255, 255, 1);
}

.hd span:nth-child(2) {
    font-family: 'Cuprum', sans-serif;
    font-size: 3.5em;
    color: rgba(143, 120, 149, 1);
}

.hd span:nth-child(3) {
    font-family: 'Cuprum', sans-serif;
    font-size: 3.5em;
    color: rgba(255, 255, 255, 1);
}

.navbar-nav {
    display: inline-block;
    float: none;
}

a {
    color: rgba(75, 75, 75, 1);
}

table {
    background: transparent;
}

th {
    font-size: 1.3em;
}

h1 {
    font-size: 20pt;
    text-transform: uppercase;
    margin-top: 0;
    color: rgba(43, 20, 49, 0.8);
    position: relative;
    height:1.8em;

}
h1:before{
    position:absolute;
    top:0;
    left:46%;
    width:8%;
    height: 100%;
    margin: auto;
    border-bottom :2px solid rgba(43,20,49,0.8);
    content:"";
}

a:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000 url("/images/background.jpg") center;
    background-size: cover;
    z-index: -2;
}

.form-control {
    background-color: rgba(43, 20, 49,0.2);
    color: black;
    border-radius: 0;

}

table td.id {
    width: 5em;
}

table .action {
    width: 5em;
}

.button {
    border: 1px solid white;
    font-size: 16pt;
    display: inline-block;
    text-transform: uppercase;
    color: white;
}
.user-update #w0,
.user-login #w0,
.user-create #w0,
.user-password #w0{
    width:60%;
    margin: auto;
}


.button.login {

    background-color: transparent;


}

.button.login>a{
    vertical-align: middle;
    color: white;
    font-size: 10pt;
    margin: 5px;
}
.button.signup {
    background-color: rgba(20,20,20,1);
}

.button.more {
    border: 1px solid black;
    background-color: transparent;


}

.button.more>a{
    vertical-align: middle;
    color: black;
    font-size: 10pt;
    margin: 5px;
}

.nav > li > a {
    vertical-align: middle;
    padding: 5px 7px;
    margin-top: 20px;
    margin-right: 15px;
    color: rgb(255, 255, 255) !important;
}


ul.navbar-nav > li > a:hover {
    color: rgb(43, 20, 49) !important;
}

.navbar-nav > .active > a {
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    position: relative;
}
.navbar-nav>.active>a:before{
    position:absolute;
    top:0;
    left:35%;
    width:30%;
    height: 100%;
    margin: auto;
    border-top:1px solid rgb(255,255,255);
    border-bottom :1px solid rgb(255,255,255);
    content:"";

}

.navbar > .container {
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 5em;
    background-color: rgb(43,20,49);

}

@media (max-width: 1230px) {
    .hideable {
        display: none !important;
    }
}

.navbar-default .navbar-nav > li > a {
    color: rgba(120, 120, 120, 0.7);
}

.navbar-default {
    border: none;
    background: rgba(0, 0, 0, 0.0);
    text-align: center;
}


.breadcrumb {
    background: rgba(54, 53, 36, 0.18) no-repeat center;
    overflow: visible;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding:0;
    margin:auto;
    width: 100%;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table > tbody > tr > th
{
    border: 1px rgba(90, 90, 90, 0.35);
    padding: 6px;
}

.table > tbody > tr > td.danger {
    background-color: transparent;
    color: red;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item:nth-child(odd) {
    background-color: #1e1e1e;
}

.footer {
    width: 100%;
    height: 60px;
    display: table;
    font-size: 1.1em;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(43,20,49);

}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
}

.btn {
    border-radius: 0;
    background-color: rgb(43,20,49);
    border: 0;
}
.btn:hover{
    background-color: rgba(43,20,49,0.7);
}
.wrap > .container > div {
    width: 100%;

}

.wrap > .container > .alert,
.wrap > .container > .alert ~ div {
    margin-top: auto;
}
.alert-info{
    position: absolute;
}
.bagatelle{
    text-align: center;
}
.feedback-create{
    margin-top: 20px;
}
.feedback-form{
    padding: 20px;
}
.home-index th {
    text-align: center;
    text-transform: uppercase;
}

.index-row {
    background-color: rgb(255,255,255);
}

.index-row > div:first-child > img {
    width: 92%;
}

.index-row a {
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
}

#cover {
    width: 70%;
    margin-top: -10em;
}

.statistics {
    font-size:1.3em;
    font-family: 'Cuprum', sans-serif;
    margin: auto;
    display:inline;
}

.stat {
    padding: 20px;
    width: 100%;
    background-image: url("/images/turbobg.png");
    background-size: cover;

}

.statistics table {
    background-color: rgba(143,120,149, 0.6);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    margin: auto;
    width:70%;
}


.quo{

    padding: 25px;
    width:100%;
    text-align: center;
    margin: 5px auto auto;
}
.quo table{
    width: 100%;
    margin: 20px;
}
.quo span{
    font-size: 40pt;
    color: rgba(43,20,49,0.5);
    font-weight: bold;
    margin-top: 1em;
}
.quo td{

text-align: left;
    margin:0.5em;
    font-size: 10pt;
    color: black;
}






.statistics td {
    padding: 0.3em 0.6em;
    text-align: left;
}

.reinvest:before {
    content: '(реинвест)';
    color: green;
}

.count:before {
    content: 'к-во: ';
}

p {
    margin-bottom: 4px;
}

#matrix a {
    display: block;
}

.matrix {
    vertical-align: middle;
}

.matrix td {
    width: 20%;
}

.matrix .pagination {
    margin: 0;
}

#page-size a {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 2px 6px;
}

.matrix .control {
    background-color: rgba(90,90,90, 0.6);
    border-radius: 6px;
    padding: 8px 10px 6px;
}

dt {
    margin-top: 1em;
    font-size: 1.2em;
    padding: 4mm 4mm 0;
    border-top-left-radius: 2mm;
    border-top-right-radius: 2mm;
}

dd {
    padding: 0 4mm 4mm;
    border-bottom-left-radius: 2mm;
    border-bottom-right-radius: 2mm;
}

dt, dd {
    background-color: rgba(90,90,90, 0.5);
}

.faq-index .contents {
    display: inline-block;
}

.faq-index .contents a {
    display: block;
}

.page {
    padding-top: 2em;
}

.page h1 {
    text-align: center;
}


@media (max-width: 1230px) {
    .index-row {
        display: block;
        width: 100%;
    }

    .index-row > div {
        display: block;

    }

    .index-row > div:first-child > img {
        margin: auto;
        display: block;
        width: 450px;
    }
}

@media (max-width: 980px) {
    .index-row .border {
        display: none;

    }
}

.invest > div:first-child {
    margin: 0 0 1em;
    padding: 20px;
    border-radius: 2mm;
}

.invest > div:first-child p {
    font-size: 1.5em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.invest > div:first-child h1 {
   text-align: center;
}

#linux {
    position: fixed;
    display: none;
    vertical-align: top;
    top: 33%; width: 100vw;
    z-index: 1;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

#linux > * {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    padding: 1em;
}

#linux > *:first-child { text-align: right; }

#linux > *:last-child { text-align: left; }

#linux .welcome {
    font-size: 1.5em;
    vertical-align: middle;
}

#developer {
    display: none;
}

.welcome {
    font-family: 'Cuprum', sans-serif;
    font-size: 3.5em;
    color: rgba(92, 189, 226, 0.7);
    margin-bottom: 10px;
}

.plans {
    padding: 20px;
    width: 100%;
    font-family: 'Cuprum', sans-serif;
    font-size: 1em;
    color: black;

}

.signature {
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    width:30%;
}

.signature span:nth-child(2) {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.signature span:nth-child(3) {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    color: rgba(143, 120, 149, 0.6);
    font-weight: bold;
}

.signature span:nth-child(4) {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.required label:after {
    content: ' *';
}
.logo{
    background-image: url("/images/logo.png");
    height: 50px;
    width: 50px;
    display: table-cell;
    vertical-align: middle;
    margin:10px;

}

label {
    font-weight: normal;
}
.user-update > h1,
.user-password > h1,
.stat > h1,
.article-view > h1,
.article-index > h1,
.feedback-index > h1,
.feedback-index > h1,
.cabinet-controls > h1 {
    text-align: center;
}
.user-update,
.user-password,
.faq-index,
.article-index,
.user-create,
.user-login,
.feedback-index,
.journal-index,
.type-index,
.gift-index,
.translation-index,
.archive-index,
.invoice-index,
.user-view {
    padding: 20px;
}
#one{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/one.png") no-repeat;
    min-height: 60px;
}
#two{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/two.png") no-repeat;
    min-height: 60px;
}
#three{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/three.png") no-repeat;
    min-height: 60px;
}
#four{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/four.png") no-repeat;
    min-height: 60px;
}
#five{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/five.png") no-repeat;
    min-height: 60px;
}

footer div {
    margin-top: 2mm;
    display: table-cell;
    vertical-align: middle;
    width:30%;
}

footer div:first-child img {
    margin-right: 4mm;
}

footer div:first-child a {
    color: white;
}


